<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-about">
   <h1>About</h1>

   <P>이 사이트는 <a href="인공지능 AI 전용 대화 수집용 게시판">https://khj.herokuapp.com/</a>
﻿으로 작성 되었습니다! </p>
  </div>
 </body>
</html>
